/* header part styles */
.header {
    background-color: rgba(229, 84, 115, 0.10);
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.banner {

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.off {
    color: #E55473;
}

.banner .Rose-pic {
    width: 450px;
    margin-bottom: 0px;
    padding-right: 200px;
    padding-top: 32px;

}

.banner-title {
    color: #272727;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    font-weight: 1000px;
    display: flex;
    width: 708px;
    flex-direction: column;

}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: serif;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    width: 634px;
    flex-direction: column;

}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    padding: 10px 30px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    cursor: pointer;
}

.banner-content {
    padding-left: 200px;
    padding-top: 100px;
    gap: 40px;

}

/* main part styles */



.flower-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;

}

.flower-pic1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 70px 0px 70px;
}

.flower-pic2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 110px 70px 0px 70px;
}

.flower-pic3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 110px 70px 0px 70px;
}

.flower {
    gap: 10px;


}



.flower-para {
    color: #272727;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif font-size: 20px;
    text-decoration-line: underline;
    font-weight: bolder;
}

.feature-class {
    width: auto;
    height: auto;
    align-items: center;
    justify-content: space-around;
    padding: auto;

}

/* offer part styles */

.offer-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.offer {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.btn-primary2 {

    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    margin-left: 200px;
    cursor: pointer;


}

.offer-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.offer-description {
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;

}

.offer-content {
    gap: 40px;
    padding-left: 400px;
}

.offer .Rose-pic {
    padding-right: 400px;
}

/* insta section styles*/

.insta-section {
    padding: 200px;
    margin: 50px 0px;

}

.-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.-description {
    display: flex;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.picture-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.picture {
    gap: 15px;
    padding: 30px;

}

/* Deals styles  */

.deals {
    background-image: url("./images/Rectangle\ 9.png");
    margin: 0px 300px 0px 300px;
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    background-repeat: no-repeat;
}

.deals-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.form {
    padding-left: 400px;
    margin-top: 100px;
    border-radius: 8px;
    background: #FFF;
    margin-left: 100px;
    width: 600px;
    height: 50px;
    flex-shrink: 0;
}

.btn {
    padding-right: 400px;
    margin-top: 100px;
}

.input {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
}

/* social links styles */

.social {
    color: white
}

.social-section {
    background-color: bisque;
}

.social-site {
    text-align: center;
    margin-right: 25px;
    padding: auto;

}


/* footer styles */
footer {
    background: #111010;
    width: auto;
    height: auto;
}

.footer-title {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.footer-end {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


